.main {
   margin-top: 90px;
   margin-left: 60px;
   margin-right: 60px;
}

* {
   font-family: 'Arial';
}

.active-btn {
   background-color: black;
}

.logo {
   height: 3vh;
}

.identity {
   height: 100px;
   border: 3px solid lightblue;
}
